
*{
    margin: 0;
    box-sizing:border-box;
    font-family:"CustomerFont";
}

/* @font-face{
    font-family:"CustomerFont";
} */

.page{ 
    height: 100vh;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.cover{
    backdrop-filter: blur(10px);
    width:30em;
    height:35em;
    margin-top: 100px;
    /* position:relative; */
    border-radius:1em;
    box-shadow: 0 0.188em 1.550em rgb(242, 239, 239);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around; 
    

}

.alt-login{
    width:80%;
    height:3em;
    display:flex;
    justify-content:space-around;
}

.alt-login div{
    width:45%; 
    height:90;
    border-radius:0.25em;
    background-color:rgb(246, 242, 242);
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor:pointer
}

/* .facebook{background-image: url("../icons/facebook.png");}
.google{background-image: url("../icons/google.png");} */

input{
    border:none;
    background-color:rgb(299, 226,226);
    height:4em;
    width:80%;
    border-radius:0.25em;
    text-align:center;
    padding:2em;  
}
input:focus{
    outline-color:rgb(14, 15, 15);
}

.login-btn{
    width:40%;
    height: 3em;
    background-color:rgb(231, 239, 244);
    display:flex;
    justify-content:center;
    align-items:center;
    transition:0.5s;
    border-radius:0.25em;
    cursor:pointer;
}
.login-btn:hover{transform:scale(1.25);}

.text{
    position:relative;
    bottom:-2em ;
}
.login-popup{
    position: absolute;
    height:30em;
    width: 30em;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    border-radius: 0.25em;
    background-color: rgb(236, 228, 228);
    color: rgb(230, 224, 224);
    bottom: 0;
    transform: sacle(1);
    transform: 1.5s;
}
.facebook{
    align-items: center;
}
